<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Sensebank Payment Module Configuration
 *
 * @copyright Copyright (c) 2019 Sensebank Bank
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="sensebank" id="sensebank">
            <module before="Magento_Backend" name="SENSEPAYMENT_Sensebank"/>
        </route>
    </router>
</config>
